# **Pandas**

In [2]:
import pandas as pd

In [6]:
df = pd.read_csv("../data/data_01.csv", index_col=0)

### **Análise Exploratória**

In [8]:
df.head()

,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
student_id,,,,,,,,,,,,,,,,,,,,,
100000,26,Male,Computer Science,7.645367,3.0,0.1,Yes,70.3,6.2,Poor,...,10.9,Co-Learning Group,Yes,High,9,7,8,Reading,3.0,100
100001,28,Male,Arts,5.700000,0.5,0.4,No,88.4,7.2,Good,...,8.3,Co-Learning Group,Yes,Low,7,2,10,Reading,6.0,99
100002,17,Male,Arts,2.400000,4.2,0.7,No,82.1,9.2,Good,...,8.0,Library,Yes,High,3,9,6,Kinesthetic,7.6,98
100003,27,Other,Psychology,3.400000,4.6,2.3,Yes,79.3,4.2,Fair,...,11.7,Co-Learning Group,Yes,Low,5,3,10,Reading,3.2,100
100004,25,Female,Business,4.700000,0.8,2.7,Yes,62.9,6.5,Good,...,9.4,Quiet Room,Yes,Medium,9,1,10,Reading,7.1,98

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80000 entries, 100000 to 179999
Data columns (total 30 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            80000 non-null  int64
 1   gender                         80000 non-null  object
 2   major                          80000 non-null  object
 3   study_hours_per_day            80000 non-null  float64
 4   social_media_hours             80000 non-null  float64
 5   netflix_hours                  80000 non-null  float64
 6   part_time_job                  80000 non-null  object
 7   attendance_percentage          80000 non-null  float64
 8   sleep_hours                    80000 non-null  float64
 9   diet_quality                   80000 non-null  object
 10  exercise_frequency             80000 non-null  int64
 11  parental_education_level       80000 non-null  object
 12  internet_quality               80000 non-null  object
 13  mental_health_rating           80000 non-null  float64
 14  extracurricular_participation  80000 non-null  object
 15  previous_gpa                   80000 non-null  float64
 16  semester                       80000 non-null  int64
 17  stress_level                   80000 non-null  float64
 18  dropout_risk                   80000 non-null  object
 19  social_activity                80000 non-null  int64
 20  screen_time                    80000 non-null  float64
 21  study_environment              80000 non-null  object
 22  access_to_tutoring             80000 non-null  object
 23  family_income_range            80000 non-null  object
 24  parental_support_level         80000 non-null  int64
 25  motivation_level               80000 non-null  int64
 26  exam_anxiety_score             80000 non-null  int64
 27  learning_style                 80000 non-null  object
 28  time_management_score          80000 non-null  float64
 29  exam_score                     80000 non-null  int64
dtypes: float64(10), int64(8), object(12)
memory usage: 18.9+ MB

In [10]:
df.shape

(80000, 30)

In [11]:
df.describe()

,age,study_hours_per_day,social_media_hours,netflix_hours,attendance_percentage,sleep_hours,exercise_frequency,mental_health_rating,previous_gpa,semester,stress_level,social_activity,screen_time,parental_support_level,motivation_level,exam_anxiety_score,time_management_score,exam_score
count,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000
mean,22.004288,4.174388,2.501366,1.997754,69.967884,7.017417,3.516587,6.804107,3.602448,4.497338,5.012478,2.500225,9.673029,5.479438,5.488525,8.508475,5.499132,89.141350
std,3.745570,2.004135,1.445441,1.155992,17.333015,1.467377,2.291575,1.921579,0.462876,2.295312,1.953174,1.704292,2.780869,2.873327,2.867782,1.796411,2.603534,11.591497
min,16.000000,0.000000,0.000000,0.000000,40.000000,4.000000,0.000000,1.000000,1.640000,1.000000,1.000000,0.000000,0.300000,1.000000,1.000000,5.000000,1.000000,36.000000
25%,19.000000,2.800000,1.200000,1.000000,55.000000,6.000000,2.000000,5.500000,3.270000,2.000000,3.600000,1.000000,7.800000,3.000000,3.000000,7.000000,3.200000,82.000000
50%,22.000000,4.125624,2.500000,2.000000,69.900000,7.000000,4.000000,6.900000,3.790000,5.000000,5.000000,2.000000,9.700000,5.000000,5.000000,10.000000,5.500000,93.000000
75%,25.000000,5.500000,3.800000,3.000000,84.900000,8.000000,6.000000,8.200000,4.000000,7.000000,6.400000,4.000000,11.600000,8.000000,8.000000,10.000000,7.800000,100.000000
max,28.000000,12.000000,5.000000,4.000000,100.000000,12.000000,7.000000,10.000000,4.000000,8.000000,10.000000,5.000000,21.000000,10.000000,10.000000,10.000000,10.000000,100.000000

### **Classificação de Dados**

In [19]:
df.sort_values("exam_score", ascending=False).head()

,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
student_id,,,,,,,,,,,,,,,,,,,,,
179983,23,Other,Arts,5.400000,1.6,0.6,Yes,46.3,4.5,Good,...,9.6,Co-Learning Group,Yes,Low,2,4,10,Auditory,2.8,100
179979,26,Male,Biology,7.400000,1.7,0.9,No,48.8,5.2,Good,...,11.9,Cafe,Yes,Medium,3,10,5,Auditory,6.4,100
179977,16,Other,Arts,3.100000,4.8,1.3,No,55.7,7.3,Fair,...,10.2,Quiet Room,Yes,Low,9,8,7,Auditory,1.1,100
179974,17,Other,Arts,3.000000,3.2,0.8,No,46.2,6.9,Poor,...,7.4,Co-Learning Group,No,Medium,6,8,7,Reading,5.3,100
179971,23,Female,Computer Science,6.475817,3.7,3.2,No,94.0,7.6,Fair,...,15.1,Co-Learning Group,Yes,High,9,6,9,Auditory,8.6,100

In [18]:
df.sort_values(["study_hours_per_day", "exam_score"], ascending=False).head()

,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
student_id,,,,,,,,,,,,,,,,,,,,,
137547,23,Other,Computer Science,12.0,1.3,1.1,Yes,80.1,6.4,Fair,...,14.5,Co-Learning Group,Yes,Low,5,6,9,Auditory,5.9,100
142053,18,Female,Business,12.0,1.1,3.8,No,85.7,6.3,Good,...,18.7,Cafe,Yes,Medium,4,9,6,Auditory,6.5,99
133186,20,Male,Computer Science,12.0,1.8,2.4,No,76.7,9.2,Fair,...,16.6,Quiet Room,Yes,High,1,4,10,Kinesthetic,4.1,98
169160,20,Male,Computer Science,12.0,3.7,1.0,Yes,96.9,6.5,Good,...,18.2,Dorm,Yes,Medium,2,4,10,Auditory,1.4,98
160538,27,Male,Psychology,11.9,4.8,2.6,No,71.6,8.7,Fair,...,19.8,Library,Yes,High,9,1,10,Visual,8.9,100

### **Filtragem de Dados**

In [21]:
df[["study_hours_per_day", "exam_score"]].head()

            study_hours_per_day  exam_score
student_id
100000                 7.645367         100
100001                 5.700000          99
100002                 2.400000          98
100003                 3.400000         100
100004                 4.700000          98